body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #222;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}
.hero {
  background-color: #7c82ab;
  padding: 10px 0;
}
.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.hero-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hero-text h1 {
  margin: 0;
  font-size: 2em;
  color: white;
}
.hero-text p {
  font-size: 1em;
  color: white;
  margin: 10px 0;
}
.social-icons {
  margin-top: 15px;
}
.social-icons a {
  margin:10px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #60a5fa;
}
.about, .projects, .skills, .resume, .contact {
  margin-top: 10px;
}
h2 {
  font-size: 1.6em;
  color: #1e3a8a;
  margin-bottom: 10px;
}
.project-item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}
.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skills li {
  background-color: #dbeafe;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.9em;
  color: #1e3a8a;
}
.resume a {
  color: #151516;
  text-decoration: underline;
  font-weight: bold;
}
footer {
  text-align: center;
  padding: 5px 0;
  font-size: 0.9em;
  color: #888;
}
@media (max-width: 750px) {
  .hero-flex {
    flex-direction: column;
    text-align: center;
  }
  .hero-img {
    margin-bottom: 20px;
  }
  .social-icons {
    justify-content: center;
  }
}
